
body {margin:0 auto; padding:0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; background:#fff; color:#333;}
#wrap {margin:2%; width:auto; float:none !important; background:#fff;}
#header h1 {margin:0 0 25px 0;}
#frontphoto, #leftside, #rightside, .hide {display:none;}
#content img, #contentwide img, #contentwide2 img {/* display:none; */}
a {text-decoration:underline; color:#0000ff;}
.span{
    width:470px;
    float:left;
    min-height:1px;
    margin-left:30px;
font-size:14px}
.img-rounded {
    height: auto;
    max-width: 100%;
    vertical-align: middle;}
#wrap h2{
    font-size:31.5;
}
